.success {
    background-color: rgb(97, 215, 97);
    color: rgba(3, 126, 3, 0.82);
    border-radius: 5px;
    padding: 1rem;
}

.error {
    background-color: rgb(248, 117, 117);
    color: rgb(128, 0, 0);
    border-radius: 5px;
    padding: 1rem;
}