.success {
    background-color: rgba(97, 215, 97, 0.4);
    color: rgba(3, 126, 3, 0.82);
    border-radius: 5px;
    padding: 1rem;
}

.error {
    background-color: rgba(248, 117, 117, 0.4);
    color: rgb(128, 0, 0);
    border-radius: 5px;
    padding: 1rem;
}